<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />


    <!-- 로그 출력 포맷 지정 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <!-- 출력 설정 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID}){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%ex</pattern>
        </encoder>
    </appender>

    <!-- 로그 레벨 설정 -->
    <logger name="org.springframework" level="INFO" />
    <logger name="com.example.springbootjpa" level="DEBUG" />
    <logger name="org.hibernate.SQL" level="DEBUG" />

    <!-- 기본 로그 레벨 설정 -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>